    .subscribe-button{
            background-color: rgb(200, 0, 0);
            color:white;
            height:36px;
            width:105px;
            border:none;
            border-radius:2px;
            margin-right:10px;
            cursor:pointer;
            transition:opacity 0.5s;
        }
    
        .subscribe-button:hover{
            opacity:0.8;
        }
    
        .subscribe-button:active{
        opacity:0.5;
        }
    
    .join-button{
            background-color:white;
            color:rgb(41, 118, 211);
            border-color:rgb(41, 118, 211);
            height:36px;
            width:90px;
            border-radius:2px;
            border-width:1px;
            border-style:solid;
            cursor:pointer;
            transition:background-color 0.5s, color 0.5s;
        }
    
        .join-button:hover{
            background-color:rgb(41, 118,211);
            color:white;
        }    
        
        .join-button:active{
            opacity:0.5;
        }    
    
    .tweet-button{
            background-color:rgb(2, 158, 255);
            color:white;
            height:36px;
            width:90px;
            margin-left:10px;
            border:none;
            border-radius:18px;
            font-weight:bold;
            cursor:pointer;
            transition: box-shadow 0.15s;
            margin-right:10px;
        }
        
        .tweet-button:hover{
            box-shadow:5px 5px 10px rgba(0, 0, 0, 0.15);
        }
    
        .tweet-button:active{
            opacity:0.5;
        }
    
    .addtocart-button{
            background-color:rgb(255, 216, 20);
            color:black;
            height:36px;
            width:120px;
            border:none;
            border-radius:18px;
            cursor:pointer;
            margin-right:10px;
            transition:opacity 0.5s;
        }
    
        .addtocart-button:hover{
            opacity:o.8;
        }
    
        .addtocart-button:active{
            opacity:0.5;
        }
    
    .download-button{
            background-color:white;
            color:rgb(108, 117, 125);
            border-color:rgb(108, 117, 125);
            height:36px;
            width:90px;
            border-radius:2px;
            border-width:1px;
            cursor:pointer;
            transition:background-color 0.5s, color 0.5s;
        }
    
        .download-button:hover{
            background-color:rgb(108, 117, 125);
            color:white;
        }
    
        .download-button:active{
            opacity:0.5;
        }
    
    .login-button{
            padding-top:10px;
            padding-bottom:10px;
            padding-left:16px;
            padding-right:16px;
        }
    
        
